[package]
name = "puzzle-path-tool-cli"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "puzzpt"
path = "src/main.rs"

[lints]
workspace = true

[dependencies]
puzzle-base = { version = "0.1.0", path = "../puzzle_base" }
puzzle-base-macros = { version = "0.1.0", path = "../puzzle_base_macros" }
puzzle-formats = { version = "0.1.0", path = "../puzzle_formats" }
puzzle-path-tool = { version = "0.1.0", path = "../puzzle_path_tool" }
