[package]
name = "puzzle-path-tool-cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
description.workspace = true

[[bin]]
name = "puzzpt"
path = "src/main.rs"

[lints]
workspace = true

[dependencies]
puzzle-core = { workspace = true }
puzzle-core-macros = { workspace = true }
puzzle-formats = { workspace = true }
puzzle-path-tool = { workspace = true }
