[package]
name = "puzzle-formats"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
description.workspace = true

[lints]
workspace = true

[dependencies]
lz-str = "0.2.1"
puzzle-core = { workspace = true }
puzzle-core-macros = { workspace = true }
reqwest = "0.12.15"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
url = "2.5.4"
